/* here you can put your own css to customize and override the theme */
.page-header-fixed .page-container{
    margin-top: 55px;
}
.page-container{
    padding:    20px 20px 20px 0px;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    -webkit-border-radius:  0px;
    -moz-border-radius: 0px;
    -ms-border-radius:  0px;
    -o-border-radius:   0px;
    border-radius:  0px;
}
.page-header.navbar .page-logo .logo-default{
    margin: 10px 0px 0px;
}
#fh5co-home, #fh5co-home .text-wrap{
    height: 600px;
}